<nav class="font-monospace bg-white shadow tracking-wide">
    <div class="navigation flex flex-col sm:flex-row px-20 py-4 items-center sm:justify-between">
        <div class="brand">
            <img src="/images/logo.png" alt="">
        </div>
        <ul class="list-reset flex flex-col sm:flex-row items-center">
            <li class="mx-6 my-3 sm:my-0"><a href="" class="text-blue">New Challenge</a></li>
            <li class="mx-6 my-3 sm:my-0"><a href="" class="text-blue">Blog</a></li>
            <li class="mx-6 my-3 sm:my-0"><a href="" data-toggle-modal="#signup-modal" class="text-blue">Signup</a></li>
            <li class="mx-6 my-3 sm:my-0"><a href="" data-toggle-modal="#login-modal" class="text-blue">Login</a></li>
        </ul>
    </div>
</nav>