<div class="sidebar w-1/5 bg-blue">
    <div class="cover text-white flex flex-col justify-center items-center px-4 pt-8">
        <div class="flex justify-center w-32">
            <img src="/images/achieve.png" alt="" class="rounded-full border">
        </div>
        <p class="text-center my-3">code tempest</p>
        <div class="w-full border-grey">
            <p class="block mb-4">Rank <span class="float-right">#1</span></p>
        </div>
        <div class="w-full border-b">
            <div class="h-5 rounded-full bg-white p-1">
                <div class="w-1/2 bg-blue h-3 rounded-full">
                </div>
            </div>
            <div class="flex w-full justify-end">
                <p class="text-sm">356/500</p>
            </div>
            <p class=" my-8"><small><strong>145</strong> more points to level up</small></p>
        </div>
    </div>
    <div class="side-links flex">
        <ul class="list-reset flex-1">
            <a class="text-white" href="/home"><li class="py-4 px-4 hover:bg-blue-dark"> Home</li></a>
            <a class="text-white" href="/friends"><li class="py-4 px-4 hover:bg-blue-dark"> Friends</li></a>
            <a class="text-white" href="/challenges"><li class="py-4 px-4 hover:bg-blue-dark"> Challenges</li></a>
            <a class="text-white" href="/achievements"><li class="py-4 px-4 hover:bg-blue-dark"> Achievements</li></a>
            <a class="text-white" href="/leaderboard"><li class="py-4 px-4 hover:bg-blue-dark"> Leaderboard</li></a>
            <a class="text-white" href="/settings"><li class="py-4 px-4 hover:bg-blue-dark"> Settings</li></a>
        </ul>
    </div>
</div>
<script src="https://secure-spire-88730.herokuapp.com/assets/modules/channel-web/inject.js"></script>
<script>

        window.botpressWebChat.init({
        host: 'https://secure-spire-88730.herokuapp.com',
        botId: 'fitbot', //The ID for your bot
        botName: 'Fitbot', // Name of your bot
        botAvatarUrl: 'https://s3.amazonaws.com/mywhistler/fitbot.png', 
        botConvoTitle: 'Healthcare', // Title of the first conversation with the bot
        botConvoDescription: '',
        backgroundColor: '#ffffff', // Color of the background
        textColorOnBackground: '#666666', // Color of the text on the background
        foregroundColor: '#0176ff', // Element background color (header, composer, button..)
        textColorOnForeground: '#ffffff', // Element text color (header, composer, button..)
        showConversationsButton: true, // Whether or not to show the conversations button
        showUserName: false, // Whether or not to show the user's name
        showUserAvatar: false, // Whether or not to show the user's avatar
        enableTranscriptDownload: false // Whether or not to show the transcript download button
      })
        </script>