@tailwind preflight
@import "home"
@import "challenges"
@import "index"
a
    text-decoration: none
    color: #3490dc
    @apply cursor-pointer
.brand
    img
        height: 40px

.fb
    background: #355392
    color: #fff
.twitter
    background: #1da1f2
    color: #fff
.card
    // &:hover
    //     @apply shadow-lg
    @apply  p-4 flex rounded shadow  
    @apply border border-grey-lighter

.tab-active
    @apply bg-blue



@tailwind components

@tailwind utilities