<% include partials/header %>
<title>IHL | Achievements</title>
</head>
<body class="min-h-screen flex-col">
    <% include partials/nav %>
    <main class="flex flex-1 min-h-screen">
        <!-- side bar -->
        <% include partials/sidebar %>

        <!-- main-content -->
        <div class="main-content flex flex-col w-full    w-5/6 px-8 mb-8">
            <h2 class="my-8 py-2 border-bborder-grey-light font-normal text-blue">Achievements</h2>
            <div class="achieve w-full flex">
                <div class="card w-1/2 mb-8 border-box">
                    <div class="w-1/4">
                        <img src="/images/medals/fat1.png" class="rounded-full w-full" alt="">
                    </div>
                    <div class="w-3/4 ml-4">
                        <h3 class="text-grey-darker text-md font-normal tracking-wide">Burner</h3>
                        <p class="text-grey-dark text-sm mt-1 mb-10">6 days streak</p>
                        <div class="h-5 bg-grey-light flex items-center px-1 rounded-full">
                            <div class="progress h-3 bg-blue rounded-full w-8"></div>
                        </div>
                        <p class="text-blue float-right text-sm mt-2 mr-1">6/30</p>
                    </div>
                </div>
                <div class="card w-1/2 mb-8 border-box ml-4">
                    <div class="w-1/4">
                        <img src="/images/medals/steps1.png" class="rounded-full w-full" alt="">
                    </div>
                    <div class="w-3/4 ml-4">
                        <h3 class="text-grey-darker text-md font-normal tracking-wide">Noobie</h3>
                        <p class="text-grey-dark text-sm mt-1 mb-10">6 days streak</p>
                        <div class="h-5 bg-grey-light flex items-center px-1 rounded-full">
                            <div class="progress h-3 bg-blue rounded-full w-8"></div>
                        </div>
                        <p class="text-blue float-right text-sm mt-2 mr-1">6/30</p>
                    </div>
                </div>
            </div>
            <div class="achieve w-full flex">
                <div class="card w-1/2 mb-8 border-box">
                    <div class="w-1/4">
                        <img src="/images/medals/sleep1.png" class="rounded-full w-full" alt="">
                    </div>
                    <div class="w-3/4 ml-4">
                        <h3 class="text-grey-darker text-md font-normal tracking-wide">Mr owl</h3>
                        <p class="text-grey-dark text-sm mt-1 mb-10">4 days streak</p>
                        <div class="h-5 bg-grey-light flex items-center px-1 rounded-full">
                            <div class="progress h-3 bg-blue rounded-full w-6"></div>
                        </div>
                        <p class="text-blue float-right text-sm mt-2 mr-1">4/30</p>
                    </div>
                </div>
                <div class="card w-1/2 mb-8 border-box ml-4">
                    <div class="w-1/4">
                        <img src="/images/medals/distance3.png" class="rounded-full w-full" alt="">
                    </div>
                    <div class="w-3/4 ml-4">
                        <h3 class="text-grey-darker text-md font-normal tracking-wide">Medal</h3>
                        <p class="text-grey-dark text-sm mt-1 mb-10">30 days streak</p>
                        <div class="h-5 bg-grey-light flex items-center px-1 rounded-full">
                            <div class="progress h-3 bg-blue rounded-full w-32"></div>
                        </div>
                        <p class="text-blue float-right text-sm mt-2 mr-1">8/15</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include partials/footer %>
</body>
<style>
    
</style>
</html>