<% include partials/header %>
<title>IHL</title>
</head>
<body class="min-h-screen flex-col">
    <% include partials/nav %>
    <main class="flex flex-1 min-h-screen">
        <!-- side bar -->
        <div class="sidebar w-1/6 bg-blue">
            <div class="cover text-white flex flex-col justify-center items-center px-4 pt-8">
                <div class="flex justify-center">
                    <img src="http://lorempixel.com/80/80/people/" alt="" class="rounded-full">
                </div>
                <p class="text-center my-3">Person name</p>
                <div class="w-full border-grey">
                    <p class="block mb-4">Rank <span class="float-right">#1</span></p>
                </div>
                <div class="w-full border-b">
                    <div class="h-5 rounded-full bg-white p-1">
                        <div class="w-1/2 bg-blue h-3 rounded-full">
                        </div>
                    </div>
                    <p class=" mb-4 mt-1"><small><strong>145</strong> more points to level up</small></p>
                </div>
            </div>
            <div class="side-links flex">
                <ul class="list-reset flex-1">
                    <a class="text-white" href="/home"><li class="py-4 px-4 hover:bg-blue-dark"> Home</li></a>
                    <a class="text-white" href="/friends"><li class="py-4 px-4 hover:bg-blue-dark"> Friends</li></a>
                    <a class="text-white" href="#"><li class="py-4 px-4 hover:bg-blue-dark"> Challenges</li></a>
                    <a class="text-white" href="/achievements"><li class="py-4 px-4 hover:bg-blue-dark"> Achievements</li></a>
                    <a class="text-white" href="/leaderboard"><li class="py-4 px-4 hover:bg-blue-dark"> Leaderboard</li></a>
                    <a class="text-white" href="/settings"><li class="py-4 px-4 hover:bg-blue-dark"> Settings</li></a>
                    <a class="text-white" href="/logout"><li class="py-4 px-4 hover:bg-blue-dark"> Logout</li></a>
                </ul>
            </div>
        </div>


        <!-- main-content -->
        <div class="main-content flex flex-col w-5/6 px-8 mb-8">
            <h2 class="my-8 py-2 border-b border-grey-light font-normal text-blue">Challenges</h2>
            <div id="challenge-modal" class="fixed pin-x pin-y hidden items-center justify-center" style="background-color: rgba(0, 0, 0, 0.5);">
                    <div class="modal-body w-1/3 bg-white rounded flex p-4">
                        <div class="invite flex flex-col w-full">
                            <h3 class="text-blue font-normal mb-2">Challenge Friends
                                <span>
                                    <a href="#"><i class="close fas fa-times float-right text-blue"></i></a>
                                </span>
                            </h3>
                            <ul class="list-reset flex flex-col overflow-auto pb-4 ml-4" style="height:400px">
                                <% for(var i=0; i < 8; i++) {%>
                                    <li class="mr-4 flex justify-between items-center mt-3">
                                        <div class="flex items-center">
                                            <img src="/images/achieve.png" class="rounded-full w-16" />
                                            <p class="text-grey-darker ml-4">name</p>
                                        </div>
                                        <a id="chbtn" class="px-2 py-1 bg-blue text-white rounded" onclick="challenge()">Challenge</a>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="challenge-box flex flex-col p-4">
                <div class="flex flex-col">
                    <div class="flex">
                        <div class="card w-1/2 flex">
                            <div class="w-1/3">
                                <img src="/images/target.png" class="challenge-img" alt="">
                            </div>
                            <div class="w-2/3 ml-4">
                                <div class="flex justify-between items-center">
                                    <h3 class="text-grey-darker font-normal ">Daily challenge</h3>
                                    <!-- if  -->
                                    <p class="text-green text-sm float-right">Active Now</p>
                                </div>
                                <p class="text-grey-dark text-sm mt-1"><i class="fas fa-calendar-alt"></i> 1 day</p>
                                <p class="text-blue text-sm mt-2 cursor-pointer">rules</p>
                                <div class="flex justify-between text-grey-darker text-sm my-2">
                                    <p>1 participant <a class="text-blue cursor-pointer" href="/participants">View</a></p>
                                    <a class="text-blue cursor-pointer">Add participants</a>
                                </div>
                                <div class="flex w-full justify-between mt-4">
                                    <div class="flex text-xs items-center my-2">
                                        <p class="text-grey-dark mb-1">Time Remaining</p>
                                        <p class="flex text-green ml-2">
                                            <i class="far fa-clock mr-2"></i>
                                            <span>12 hrs</span>
                                        </p>
                                    </div>
                                    <div class="flex items-center">
                                        <a href="" class="flex-1 rounded px-4 py-2 ml-4 bg-red text-white">Leave</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card w-1/2 flex mx-4">
                            <div class="w-1/3">
                                <img src="/images/target.png" class="challenge-img" alt="">
                            </div>
                            <div class="w-2/3 ml-4">
                                <div class="flex justify-between items-center">
                                    <h3 class="text-grey-darker font-normal ">Daily challenge</h3>
                                    <!-- if  -->
                                    <p class="text-green text-sm float-right">Active Now</p>
                                </div>
                                <p class="text-grey-dark text-sm mt-1"><i class="fas fa-calendar-alt"></i> 1 day</p>
                                <p class="text-blue text-sm mt-2 cursor-pointer">rules</p>
                                <div class="flex justify-between text-grey-darker text-sm my-2">
                                    <p>1 participant <a class="text-blue cursor-pointer">View</a></p>
                                    <a class="text-blue cursor-pointer">Add participants</a>
                                </div>
                                <div class="flex w-full justify-between mt-4">
                                    <div class="flex text-xs items-center my-2">
                                        <p class="text-grey-dark mb-1">Time Remaining</p>
                                        <p class="flex text-green ml-2">
                                            <i class="far fa-clock mr-2"></i>
                                            <span>12 hrs</span>
                                        </p>
                                    </div>
                                    <div class="flex items-center">
                                        <a href="" class="flex-1 rounded px-4 py-2 ml-4 bg-red text-white">Leave</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex mt-10">
                        <div class="card w-1/2 flex">
                            <div class="w-1/3">
                                <img src="/images/target.png" class="challenge-img" alt="">
                            </div>
                            <div class="w-2/3 ml-4">
                                <div class="flex justify-between items-center">
                                    <h3 class="text-grey-darker font-normal ">Challenge</h3>
                                    <!-- if  -->
                                    <p class="text-green text-sm float-right">Active Now</p>
                                </div>
                                <p class="text-grey-dark text-sm mt-1"><i class="fas fa-calendar-alt"></i> 1 day</p>
                                <p class="text-blue text-sm mt-2 cursor-pointer">rules</p>
                                <div class="flex justify-between text-grey-darker text-sm my-2">
                                    <p>1 participant <a class="text-blue cursor-pointer">View</a></p>
                                    <a class="text-blue cursor-pointer">Add participants</a>
                                </div>
                                <div class="flex w-full justify-between mt-4">
                                    <div class="flex text-xs items-center my-2">
                                        <p class="text-grey-dark mb-1">Time Remaining</p>
                                        <p class="flex text-green ml-2">
                                            <i class="far fa-clock mr-2"></i>
                                            <span>12 hrs</span>
                                        </p>
                                    </div>
                                    <div class="flex items-center">
                                        <a href="" class="flex-1 rounded px-4 py-2 ml-4 bg-red text-white">Leave</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card w-1/2 flex mx-4">
                            <div class="w-1/3">
                                <img src="/images/target.png" class="challenge-img" alt="">
                            </div>
                            <div class="w-2/3 ml-4">
                                <div class="flex justify-between items-center">
                                    <h3 class="text-grey-darker font-normal ">Challenge Name</h3>
                                    <!-- if  -->
                                    <p class="text-red text-sm float-right">Inactive</p>
                                </div>
                                <p class="text-grey-dark text-sm mt-1"><i class="fas fa-calendar-alt"></i> 1 day</p>
                                <p class="text-blue text-sm mt-2 cursor-pointer">rules</p>
                                <div class="flex justify-between text-grey-darker text-sm my-2 invisible">
                                    <p>View participants</p>
                                    <p>Add participants</p>
                                </div>
                                <div class="flex w-full justify-between mt-4">
                                    <div class="flex text-xs items-center my-2 invisible">
                                        <p class="text-grey-dark mb-1">Time Remaining</p>
                                        <p class="flex text-green ml-2">
                                            <i class="far fa-clock mr-2"></i>
                                            <span>12 hrs</span>
                                        </p>
                                    </div>
                                    <div class="flex items-center">
                                        <a href="" class="flex-1 rounded px-4 py-2 ml-4 bg-red text-white hidden">Leave</a>
                                    </div>
                                    <div class="flex items-center">
                                        <a href="" class="flex-1 rounded px-4 py-2 ml-4 bg-green text-white" data-toggle-modal="#challenge-modal">Start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include partials/footer %>
</body>
<script src="/js/modal.js"></script>
</html>
