<% include partials/header %>
<title>IHL</title>
</head>
<body class="bg-grey">
    <% include partials/nav %>
        <div class="container mx-16">
            <div class="cover h-64 w-full bg-grey-darker mt-12">
                
            </div>
        </div>
    <% include partials/footer %>
</body>
</html>