<% include partials/header %>
<title>Home</title>
    <!-- <meta name="google-signin-client_id" content="827647037742-3ss7nkv2ocsh008el3n6ecgisivlulpn.apps.googleusercontent.com">--!>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body class="bg-grey" >
    <% include partials/nav %>
        <div id="login-modal" class="fixed pin-x pin-y hidden items-center justify-center" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="login modal-body w-1/2 bg-white rounded flex overflow-hidden">
                <div class="w-1/2 bg-blue">

                </div>
                <div class="px-16 pb-8">
                    <h2 class="text-blue my-4">
                        Login
                        <span>
                            <a href="#"><i class="close fas fa-times float-right text-blue"></i></a>
                        </span>
                    </h2>
                    <form action="/" method = "post" id="loginform"  class="flex-col">
                        <input type="email" class="my-3 p-2 border-b border-blue w-full" name="email" placeholder="Enter your email" id="loginmail">
                        <input type="password" class="my-3 p-2 border-b border-blue w-full" name="password" placeholder="Enter your password">
						<input style="display:none" type="text" value="false" name="fblinklogin" id="f2" >
                        <div class="flex items-center mt-6 justify-between">
                            <button type="submit" class="px-4 py-1 block rounded-full border border-blue text-blue" name = "login" value = "true">Login</button>
                            <div>
                                <p class="inline text-grey-dark mx-2">or login with</p>
                                <span class="fb inline-flex justify-center items-center h-8 w-8 rounded-full mx-1" onclick="loginWithFacebook()"><i class="fab fa-facebook-f"></i></span>
                                <span class="twitter inline-flex justify-center items-center h-8 w-8 rounded-full mx-1" id="q" onclick="onsignin()"><i class="fab fa-twitter"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="signup-modal" class="fixed pin-x pin-y hidden items-center justify-center" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="signup modal-body w-1/2 bg-white rounded flex overflow-hidden">
                <div class="w-1/2 bg-blue">

                </div>
                <div class="px-16 pb-8">
                    <h2 class="text-blue my-4">
                        Signup
                        <span>
                            <a href="#"><i class="close fas fa-times float-right text-blue"></i></a>
                        </span>
                    </h2>
                    <form action="/" method = "post"  class="flex-col">
                        <input type="email" class="my-3 p-2 border-b border-blue w-full" name="email" placeholder="Enter your email" id = "signUpEmail">
                        <input type="password" class="my-3 p-2 border-b border-blue w-full" name="password" placeholder="Enter your password">
                        <input type="password" class="my-3 p-2 border-b border-blue w-full" name="password" placeholder="confirm password">
                        <input style="display:none" type="text" value="false" name="fblinksignup" id="f1" >
						<div class="flex items-center mt-6 justify-between">
                            <button type="submit" class="px-4 py-1 block rounded-full border border-blue text-blue" name = "signup" value = "true">Signup</button>
                            <div>
                                <p class="inline text-grey-dark mx-2">or signup with</p>
                                <span class="fb inline-flex justify-center items-center h-8 w-8 rounded-full mx-1" onclick = "signupWithFacebook()"><i class="fab fa-facebook-f"></i></span>
                                <span class="twitter inline-flex justify-center items-center h-8 w-8 rounded-full mx-1"><i class="fab fa-twitter"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% include partials/footer %>
</body>
<script src="/js/facebook.js"></script>
<script src="/js/google.js"> </script>
<script>
    let modalToggles = document.querySelectorAll('[data-toggle-modal]');

    modalToggles.forEach(function(button) {
        let modalSelector = button.dataset.toggleModal;
        let modal = document.querySelector(modalSelector);
        let modalBody = modal.querySelector('.modal-body');
        let closeBtn = modal.querySelector('.close');

        button.addEventListener('click', function(event) {
            modal.classList.remove('hidden');
            modal.classList.add('flex');
            event.preventDefault();
            event.stopPropagation();
        });
        
        let closeModal = function() {
            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }
        if(closeBtn) {
            closeBtn.addEventListener('click', function(event) {
                event.preventDefault();
                closeModal();
            });
        }

        if(modalBody) {
            modalBody.addEventListener('click', function(event){
                event.stopPropagation();
            });

            window.addEventListener('click', function(event) {
                // console.log('closing Modal');
                event.preventDefault();
                closeModal();
            });
        }
    });
</script>
</html>
