<% include partials/header %>
<title>IHL | Leaderboard</title>
</head>
<body class="min-h-screen flex-col">
    <% include partials/nav %>
    <main class="flex flex-1 min-h-screen">
        <!-- side bar -->
        <% include partials/sidebar %>

        <!-- main-content -->
        <div class="main-content flex flex-col w-5/6 px-8 mb-8">
            <h2 class="my-8 py-2 border-b border-grey-light font-normal text-blue">Leaderboard</h2>
            <ul class="list-reset flex flex-col">
                    <% for(var i=0; i < 5; i++) {%>
                        <li class="card flex justify-between items-center mt-3">
                            <% if(i<3) {%>
                                <div>
                                    <img src="/images/achieve.png" class="rounded-full w-16" />    
                                </div>
                            <% } else{ %>
                                <p class="text-grey-dark mr-4">Rank</p>
                            <% } %>
                            <div class="flex items-center">
                                <img src="/images/achieve.png" class="rounded-full w-16" />
                                <p class="text-blue ml-4 Capitalize">name</p>
                            </div>
                            <p class="text-grey-dark">1200 steps</p>
                            <p class="text-grey-dark">IHL Score</p>
                        </li>
                    <% } %>
                </ul>
        </div>
    </main>
    <% include partials/footer %>
</body>
<style>
    
</style>
</html>