<% include partials/header %>
<title>IHL | Achievements</title>
</head>
<body class="min-h-screen flex-col">
    <% include partials/nav %>
    <main class="flex flex-1 min-h-screen">
        <!-- side bar -->
        <% include partials/sidebar %>

        <!-- main-content -->
        <div class="main-content flex flex-col w-full    w-5/6 px-8 mb-8">
            <h2 class="my-8 py-2 border-b border-grey-light font-normal text-blue">Notifications</h2>
        </div>
    </main>
    <% include partials/footer %>
</body>
<style>
    
</style>
</html>